.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Copyright {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  background-color: aliceblue;
  /* position: relative;
  left: 0;
  bottom: 0; */
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  box-shadow: 5px 5px;
  border: solid;
  width: 100%;
  height: 650px;
  background-color: white;
}
.mover {
  background-color:blue;
  color:white;
  text-align:center;
  transition-property:margin-left;
  transition-duration:2s;
  transition-timing-function:linear;
}
.HeaderFooterColorBar {
  height: 4px;
  display: flex;
  justify-content: space-between;
  border: solid;
}
.HeaderFooterDiv {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  padding: 0;
  background-color: aliceblue;
}
.Navs {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 30px;
}
.Logo {
  margin: 12px;
  font-family: "Grandstander", cursive;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-self: center;
  padding-left: 10px;
  cursor: pointer;
}

/* Product Array Area */
.Product {
  border: solid;
  border-radius: 15%;
  padding: 20px;
  margin-top: 30px;
  width: 400px;
  height: 530px;
  box-shadow: 5px 5px;
  background-color: white;
  margin-right: 30px;
}
.Product-Selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 450px;
  height: 700px;
  contain: fit-content;
  overflow: hidden;
}
.Product-Selection2 {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: aliceblue;
  width: 950px;
  height: 650px;
  overflow-x: scroll;
  padding: 30px;
}
.Product-Selection3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: aliceblue;
  width: 450px;
  height: 950px;
  overflow: auto;
  padding: 30px;
}
.Product-Selection3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 805px;
  overflow: auto;
  padding: 30px;
}
.Product-Selection4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 550px;
  padding: 30px;
  background-color: white;
  margin: 30px;
  border-radius: 15%;
}
.Product-Selection5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 600px;
  padding: 30px;
  margin: 30px;
}
.Product-Selection6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 765px;
  padding: 30px;
  /* background-color: white; */
  margin: 30px;
  border-radius: 15%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #containerr {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(12, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.items {
  height: 210px;
  background-color: blue;
  animation: moving 10s infinite linear;
}

@keyframes moving {
  0% {
    transform: translate(2400px, 0)
  }
  50% {
    transform: translate(-450px, 0)
  }
  100% {
    transform: translate(-900px, 0)
  }
} */

.containerr {
  overflow: hidden;
}



.Product-Image-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 330px;
  object-fit: contain;
}
.Product-Image-Div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.Product-Image {
  cursor: pointer;
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index: 999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}
/*change the number below to scale to the appropriate size*/ 
.Product-Image:hover { 
  transform: scale(1.06); 
  
  }
.Product-Desc-Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Product-Desc-Title2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 10px;
}
.Product-Description {
  display: flex;
  width: 100%;
  height: 80%;
  font-size: 2vh;
  text-align: center;

}
.Product-Description2 {
  display: flex;
  width: 100%;
  height: 300px;
  font-size: 3vh;
  text-align: left;
}
.Product-Title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Product-Title-Div {
  display: flex;
  justify-content: center;
  align-content: center;
}
.Product-Row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.Product-Row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 800px;
  border: solid 5px black;
  contain: fit-content;
  /* margin-bottom: 30px; */
}
.Product-Container4{
  width: 100%;
  height: auto;
}
.Product-Container {
  width: 100%;
  height: auto;

}
.Product-Container5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product-Container2 {
  display: flex;
  flex-direction: column; 
  justify-content: start; 
  align-items: center;  
  background-color: aliceblue;         
  width: fit-content;
  height: 955px;
  border: solid 5px black;
}
.Product-Container3 {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  background-color: aliceblue;         
  width: fit-content;
  height: 850px;
  width: 1300px;
  border: solid 5px black;
  margin-bottom: 20px;
}
.FrontPage-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Store {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Store-Name {
  display: flex;
  justify-items: center;
  align-self: center;
}
/* google font icons */
.material-symbols-rounded {
  /* border: solid; */
  /* margin-left: -30px; */
  font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.Cart-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  height: 25px;
  width: 240px
}
label {
  font-size: 20px;
}

table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #d4d4d4;
  font-size: 20px;
  background: #fff;
}
 
table th, 
table tr:nth-child(2n+2) {
  background: #e7e7e7;
}
  
table th, 
table td {
  padding: 20px 50px;
}
  
table th {
  border-bottom: 1px solid #d4d4d4;
}
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
.fadein {
  display: flex;
  justify-content: center;
  align-content: center;
  position:absolute;
  top:0px;
  left:50%;
  margin:auto;
}
.fadein img {
  position:absolute;
  left:185px;
  top: 220px;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 9s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}
.fadein2 {
  display: flex;
  justify-content: center;
  align-content: center;
  position:absolute;
  top:0px;
  left:50%;
  margin:auto;
}
.fadein2 img {
  position:absolute;
  left:-485px;
  top: 220px;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 9s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}
@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#f1 {
  background-color: lightblue;
}
#f2 {
  -webkit-animation-delay: -4s;
}
#f3 {
  -webkit-animation-delay: -2s;
}
.floating2 {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}
@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}