.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Copyright {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  background-color: aliceblue;
  /* position: relative;
  left: 0;
  bottom: 0; */
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  height: 600px;
}
.mover {
  background-color:blue;
  color:white;
  text-align:center;
  transition-property:margin-left;
  transition-duration:2s;
  transition-timing-function:linear;
}
.HeaderFooterColorBar {
  height: 4px;
  display: flex;
  justify-content: space-between;
  border: solid;
}
.HeaderFooterDiv {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  padding: 0;
  background-color: aliceblue;
}
.Navs {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 30px;
}
.Logo {
  margin: 12px;
  font-family: "Grandstander", cursive;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-self: center;
  padding-left: 10px;
  cursor: pointer;
}

/* Product Array Area */

.Product-Selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 450px;
  height: 700px;
  contain: fit-content;
  overflow: hidden;
}
.Product-Selection2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: green;
  width: 450px;
  height: 700px;
  /* contain: fit-content; */
  /* object-fit: contain; */
  overflow: auto;
  padding: 30px;
}
.Product-Selection3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: green;
  width: 450px;
  height: 700px;
  overflow: auto;
  padding: 30px;
}
.Product-Selection4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: green;
  width: 450px;
  height: 700px;
  padding: 30px;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #containerr {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(12, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.items {
  height: 210px;
  background-color: blue;
  animation: moving 10s infinite linear;
}

@keyframes moving {
  0% {
    transform: translate(2400px, 0)
  }
  50% {
    transform: translate(-450px, 0)
  }
  100% {
    transform: translate(-900px, 0)
  }
} */

.containerr {
  overflow: hidden;
}



.Product-Image-Div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 380px;
  object-fit: contain;
  /* border: solid; */
}
.Product-Image {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index:999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}
/*change the number below to scale to the appropriate size*/ 
.Product-Image:hover { 
  transform: scale(1.06); 
  
  }
.Product-Desc-Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.Product-Description {
  display: flex;
  width: 100%;
  height: 80%;
  font-size: 1.5vh;
  text-align: center;

}
.Product-Title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Product-Title-Div {
  display: flex;
  justify-content: center;
  align-content: center;
}
.Product-Row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: solid 5px black;

}
.Product-Row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: solid 5px black;
  contain: fit-content;

}
.Product-Container {
  width: 100%;
  height: auto;
  border: solid 5px black;
}
.Product-Container2 {
  width: 100%;
  height: auto;
  border: solid 5px black;
  contain: fit-content;
}
.FrontPage-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Store {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Store-Name {
  display: flex;
  justify-items: center;
  align-self: center;
}
/* google font icons */
.material-symbols-rounded {
  /* border: solid; */
  /* margin-left: -30px; */
  font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
.Cart-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  height: 25px;
  width: 240px
}
label {
  font-size: 20px;
}